<div class="row">

    <div class="col-xs-12 content about">
        <article>
            <figure class="headshot">
                <img src="assets/images/me3.png" class="img-circle" width="300">
            </figure>

            <h1>
                Metodi Baniski
            </h1>
            <h3>
                User Experience Designer & Software Developer
            </h3>
            <br />
            <p>
                <em>I solve</em> problems.
            </p>
            <p>
                <em>I study and understand</em> people and products. <em>I know </em>what works, when it works and why.
            </p>
            <p>
                <em>I bridge </em>gaps between users and decision makers, product owners and developers.
            </p>
            <p>
                <em>I transform </em>complex ideas into user interfaces that are simple, intuitive and inviting.
            </p>
            <p>
                <em>I design and build </em>products that are used by choice, not necessity.
            </p>

            <h3>Employment, education and the rest</h3>

            <figure class="inline-image-holder">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <img src="assets/images/timeline.png" class="" ng-click="showPhoto('assets/images/timeline-white.png', 'resp', 'What I have been up to lately.')"/>
                    </div>
                </div>

            </figure>

            <p>
                I have been improving the user experience of web applications for more than 10 years. Currently I am a UX lead at <a href="https://www.geotab.com" target="_blank" title="Geotab, Inc">GEOTAB</a> where I am tasked with creating a modern and intuitive fleet management web application.
            </p>
            <p>
                My daily tasks are mainly consisted of identifying usability problems with the company's fleet management portal, researching and designing solutions for those problems with the team and managing their implementation.
                Within the company I interact with the executive, marketing, product and development teams on a daily basis. I also have frequent interaction with partners who provide user training, as well as end users.
            </p>
            <p>
                My goal is to have every new feature seen through the eyes of those users, carefully thought out and integrated with the rest of the application,
                 while at the same time have existing features carefully refactored by introducing incremental changes that will eventually fulfill my vision; a cutting edge application that delivers superior user experience.
            </p>
            <p>I am continuously advocating for user-centric design by researching and explaining the benefits in terms that would hit closest to home for the product, marketing and development teams. I am also mentoring these teams on best practises for UX on a regular basis. Being a developer by trade, I also participate in hands-on implementation of application features.</p>
            <p>
                My previous position was a <em>Team Lead and Front End Technical Lead</em> at <a href="https://www.theredpin.com" target="_blank" title="TheRedPin, Brokerage">TheRedPin</a>, a technology startup. Here I successfully led a team of developers, quality assurance engineers and designers to many successful product releases, in the process greatly sharpening my leadership skills.
            </p>
            <p>
                I am confident I excel at both leading UX and development teams, and hands-on analyzing and optimizing user interfaces and creating easy-to-use and pleasant web applications that work equally well across the full spectrum of devices they can be used on. I hold a <em>degree in computer science</em> from University of Toronto. I also spend hours each week educating myself and keeping up to date with the current usability principles and design trends.
            </p>
            <p>
                Finally, when I'm not working, I'm likely spending time with my wife and 4 year old daughter, or I'm preparing for my next archery tournament.
            </p>

            <figure class="inline-image-holder">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <img src="assets/images/park-bw.png" class="clickable" alt="At the park" ng-click="showPhoto('assets/images/park-bw.png', 'resp', 'Having fun at the Centre Island Park in Toronto. That is mommy at the back. #SelfieWin')" />
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/archer-bw.png" class="clickable" alt="At the archery range" ng-click="showPhoto('assets/images/archer-bw.png', 'resp', 'Trying out my new bow for the first time.')" />
                    </div>
                </div>
            </figure>

        </article>
    </div>

</div>