<div class="row">

    <div class="col-xs-12 content about">
        <article>
            <figure class="headshot">
                <img src="assets/images/me3.png" class="img-circle" width="300">
            </figure>

            <h1>
                Metodi Baniski
            </h1>
            <h3>
                User Experience Designer & Software Developer
            </h3>
            <br />
            <p>
                <em>I solve</em> problems.
            </p>
            <p>
                <em>I study and understand</em> people and products. <em>I know </em>what works, when it works and why.
            </p>
            <p>
                <em>I bridge </em>gaps between users and decision makers, product owners and developers.
            </p>
            <p>
                <em>I transform </em>complex ideas into user interfaces that are simple, intuitive and inviting.
            </p>
            <p>
                <em>I design and build </em>products that are used by choice, not necessity.
            </p>

            <h3>Employment, education and the rest</h3>

            <figure class="inline-image-holder">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="assets/images/timeline.png" class="clickable" ng-click="showPhoto('assets/images/timeline-white.png', 'resp', 'What I have been up to lately.')"/>
                    </div>
                </div>

            </figure>

            <p>For the past three years I have been a <em>UX Lead Designer and Web Developer</em>for <a href="http://www.seagate.com" target="_blank">Seagate Technology</a>.</p>
            <p>
                My specialty are responsive user interfaces for web applications. I have lead major redesign efforts for several products and designed the user interface for dozens of features that have been integrated with already existing products.
            </p>
            <p>
                When I'm not involved in hands-on design, I oversee the UX on several projects and mentor less experienced developers and designers, as well as create, maintain and enforce UI standards.</p>

            <p>I hold a <em>degree in computer science </em>from University of Toronto and spend hours each week educating myself and keeping up to date with current usability principles and design trends. </p>

            <p>
                When I'm not working, I'm likely spending time with my wife and 3 year old daughter, or I'm preparing for my next archery tournament.
            </p>

            <figure class="inline-image-holder">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <img src="assets/images/park-bw.png" class="clickable" alt="At the park" ng-click="showPhoto('assets/images/park-bw.png', 'resp', 'Having fun at the Centre Island Park in Toronto. That is mommy at the back. #SelfieWin')" />
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/archer-bw.png" class="clickable" alt="At the archery range" ng-click="showPhoto('assets/images/archer-bw.png', 'resp', 'Trying out my new bow for the first time.')" />
                    </div>
                </div>
            </figure>

        </article>
    </div>

</div>