<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="header">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                        <img alt="Seagate EVault Web Access" src="assets/images/seagate-logo.png" />
                    </div>
                </div>

                <h3>
                    Easy-to-manage, automated data protection
                </h3>
            </div>
        </div>
    </div>


    <div class="body">
        <h1>Product</h1>
        <p>In 2011 Seagate Technology make a big push for extending their cloud disaster recovery services. Their goal
            was to create a great value service that customers can use with minimal technical support. </p>
        <p>
            <em>Seagate EVault Web Access</em>, a web application for centralized management of backed up data on the cloud was created.</p>


        <h1>The Job</h1>
        <p>In the summer of 2012 I was hired as a full time a UX designer and web developer and to lead the user experience of the application.</p>
        <p>My objective was to advocate for the users by utilizing user-centered design methodologies when designing new or improving existing features
            for the product. My daily tasks included user analysis, requirements specification, application design and usability testing. I was also driving the
            creation, maintenance and enforcement of UI standards for the application and mentoring the rest of the team on usability principles and user experience.</p>

        <p>I set a personal goal to make sure everyone on my team understand that design and user experience is everyone's responsibility. </p>
        <blockquote>
            "Design is not just what it looks like and feels like. <br />
            Design is how it works" <br />
            Steve Jobs
        </blockquote>



        <h1>Vision</h1>
        <p>My vision for Web Access was to be the best backup process management tool, and not just another mediocre web application on the market that users.
        </p>
        <p>The company's goal was not to offer an exhaustive amount of random features, but offer features that would solve actual problems for customers, and have them created in a way that they will become customers' choice.</p>
        <p>This perfectly aligned with vision for Web Access.</p>

        <hr/>

        <h1>Seagate EVault Web Access - UI Refactoring</h1>

        <h2> The Problem</h2>
        <p>
            The brand new EVault Web Access application was intended to replace a few other products. As a consequence,
            it had to do everything all the other applications did.</p>
        <p>The team originally tasked with writing it was mainly consisted of software engineers whose expertise was server-side software architecture, not UI design.
            As a result, no effort was put towards creating a user-centric application.
            The UI and workflows were a replica of the ones found in the almost a decade old applications scheduled for retirement. Most workflows
            were either redundant or overly complex, and the UI was sloppy and inconsistent throughout the application and felt dated even before the application's go-live date scheduled for 5 months later.
        </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-login-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-login-old.png', 'resp', 'Pre-BETA login page.')"/>
                        <figcaption>Pre-BETA login page</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-computers-before.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computers-before.png', 'resp', 'Pre-BETA computers page.')"/>
                        <figcaption>Pre-BETA page showing information in a grid</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-computers-popup-before.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computers-popup-before.png', 'resp', 'Pre-BETA popup form.')"/>
                        <figcaption>Pre-BETA popup form</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <blockquote>
            "You never get a second chance to make a first impression."
        </blockquote>

        <h2>My Role</h2>

        <p>
            My first task was driving the UI redesign and optimization of existing workflows. I had to stop the bleeding before it caused any more damage.
        </p>
        <p>
            I did functional and competitive analysis of the application, outlined problematic workflows and prioritized
            their refactoring order based on severity. I redesigned the UI by creating high fidelity prototypes that I used
            to to convey my vision. I explained and defended my design decisions to the product stakeholders. Upon design approval by the company,
            I lead the UI refactoring and coordinated the validation.
        </p>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <h3>Competitive Analysis</h3>
                <p>I familiarized myself with competitor products analyzed how similar tasks are performed. </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h3>User Insights</h3>
                <p>I conducted systematic interviews to understand expectations and identify pain points users
                    have when using the existing in-house and similar competitor products.</p>
            </div>

            <div class="col-sm-4 col-xs-12">
                <h3>Product Vision</h3>
                <p>I created interactive wireframes and prototypes to describe the product vision and content strategy.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4 col-xs-12">
                <h3>Coordination</h3>
                <p>I worked with a team of developers and quality assurance analysts to make sure that the redesign has a
                    minimal impact on ongoing development efforts and product launch date isn't affected.</p>
            </div>

            <div class="col-sm-4 col-xs-12">
                <h3>UI Design, Information Architecture & Validation</h3>
                <p>I identified and optimized sub-optimal workflows and designed more functional layouts, controls and validation. I created precise UI specifications and conducted user testing and analyzed results, as well as collected user feedback. </p>
            </div>

            <div class="col-sm-4 col-xs-12">
                <h3>UI Implementation</h3>
                <p>I re-wrote the entire UI layer, created reusable HTML templates and refactored and normalized scripts and stylesheets.  </p>
            </div>
        </div>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-login.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-login.png', 'resp', 'Redesigned login form.')"/>
                        <figcaption>Redesigned login form</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-reporting.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-reporting.png', 'resp', 'Visual and interactive reporting as an alternative to tabular reports.')"/>
                        <figcaption>Visual and interactive reports</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-computers.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-computers.png', 'resp', 'Grids underwent a major face lift.')"/>
                        <figcaption>Inline grid data editing</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <h2>Discovery</h2>
        <p>I prepared questionnaires and conducted user interviews with target users - customers using the already existing in-house products,
            as well as technical support analysts familiar with both internal and competitor products. </p>
        <p>The most overwhelming response I got was that the <em>users don't like to spend any more time using the application than
            they absolutely have to</em> and that <em>they don't want to be looking for information</em>, but expect to find it in logical places. This
            suggested that workflow optimization and contextualization had to be my top priority. I had to eliminate all redundancy
            and show as much relevant information at once.
        </p>
        <p>When asked how important the attractiveness of the application is on a scale from 1 to 10, to my surprise, approximately 75% of the interviewees answered
            4 or below and only about 15% valued attractive UIs at 7 or above. </p>

        <p>So I did a visual exercise with the same users, showing them screen shots of 2 applications that serve identical purpose - the original Web Access
            and my high fidelity prototypes, which I considered visually superior - it was precise, consistent, symmetrical and less cluttered. The result - around 80% picked the prototype
            as their choice and the rest said could go either way. Nobody was adamant about choosing the inferior UI.
        </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-full-page-before.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-before.png', 'resp', 'Dashboard in 2012.')"/>
                        <figcaption>Web Access Dashboard (2012)</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <figure>
                        <img src="assets/images/seagate-full-page-after.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-after.png', 'resp', 'High fidelity dashboard mockup')"/>
                        <figcaption>High fidelity mock up of the same dashboard</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <p>It was clear that our users valued aesthetics even though they weren't specifically asking for it. But the aesthetics could not
            be getting in the way of the tasks the users were trying to achieve.
        </p>
        <p>When asked about things they would improve in competitor's products, a common suggestion was to create bulk actions and ability to
            automate tasks. This confirmed the findings from my competitive analysis. </p>

        <blockquote>
            Although 75% of users stated they didn't care about how visually pleasing the user interface was,  <br />80% went for the superior one when asked to choose between two.
        </blockquote>



        <h2>Design</h2>
        <p>
            User interviews delivered a clear message - workflows had to be simplified and more information had to find it's way in relevant locations.
            Additionally, users responded positively to the enhanced UI, so a visual face-lift was imminent.
        </p>

        <h3>Designing for Scalability</h3>
        <p>
            One problem with the existing UI was the disregard for screen real estate. As this application was originally only intended to run
            in a web browser on a desktop computer, preserving screen real estate and responsiveness were never taken into consideration. The poor scalability of the UI
            became apparent even more so as the application functionality grew, particularly on lower screen resolutions.
        </p>
        <p>
            I designed scalable and reusable controls such as drop-down menus, date and time pickers and popup windows. I also created responsive layouts
            that would scale the UI for different devices. This way more of the screen could be used for information and less for action items.
        </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-computer-actions-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computer-actions-old.png', 'resp', 'Actions on each row take up almost 40% of each row')"/>
                        <figcaption>Actions on each row use up to 40% of each row</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-computer-actions.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computer-actions.png', 'resp', 'Redesigned Actions Menu housing all actions takes up between 10% and 20% of each row leaving more real estate for relevant information')"/>
                        <figcaption>Redesigned 'Actions menu' housing all actions uses between 10% and 20% of each row leaving more real estate for relevant information</figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <h3>Designing new features</h3>
        <p>One of the features that got copied over from the old products was the reporting mechanism. The reports consisted of large
            quantities of data displayed to the user in a tabular format with almost no interactivity. Data could be sorted but not searched, and the data would start
            losing meaning as the amount of information shown increased.
        </p>
        <p>Reporting was going to be one of the most frequently used sections of the application as users could directly link the reported data to their billing. </p>
        <p>In the user interviews I learned that the users would appreciate a way to filter and sort their data.  </p>
        <p>Even with improved searching and sorting, large amounts of data in a table are likely to provide an inferior user experience. So I set out to aggregate the data into an interactive graph. </p>
        <p>I prototyped how the data would be more effectively shown and created a low fidelity functional mockup to better support design. Despite the quickly approaching launch date, this new unplanned feature was given the green light.</p>
        <p>This was one feature everyone fell in love with and users quickly abandoned the tabular reports even though they were refactored to allow for searching and sorting.</p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-report-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-report-old.png', 'resp', 'Old data reporting. Filtering not possible.')"/>
                        <figcaption>Old tabular reporting did not allow for data filtering</figcaption>
                    </figure>
                </div>
            </div>
            <div>
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-report-new.png" class="clickable" ng-click="showPhoto('assets/images/seagate-report-new.png', 'resp', 'Old data reporting. Filtering not possible.')"/>
                        <figcaption>New reporting grids with column filtering and sorting and tighter design</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-report-interactive.png" class="clickable" ng-click="showPhoto('assets/images/seagate-report-interactive.png', 'resp', 'Interactive reporting charts - after a decade of tabular data reporting')"/>
                        <figcaption>The introduction of interactive reporting charts after almost a decade was greatly appreciated</figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <h3>Optimizing and improving workflows - the Log Viewer</h3>
        <p>In feedback collected from a user, a major pain point was revealed. Any time a backup process completes unsuccessfully, an administrator needs to go through the generated log files and see why the process failed. What caught my attention were the steps needed to get the required information beyond checking the log files themselves.</p>
        <ol>
            <li>Go through thousands of lines of log files and search for error codes</li>
            <li>Write error codes on paper or Notepad</li>
            <li>Open Seagate Knowledge Base - external website</li>
            <li>Manually search each error code</li>
            <li>If any results, open each result in a new window to get the information</li>
            <li>If no results, all that time was just wasted - call support</li>
        </ol>

        <p>This was a very manual and tedious process, requiring constant switching between multiple application and juggling multiple error codes at once. </p>
        <p>
            My goal was to design a log viewer that would be the last place an administrator goes for information, and do it in a way that will require minimal effort.
        </p>
        <p>I created an option to easily filter out error codes from the rest of the log content. This reduced the number of lines an admin sees by up to 95%.
            I further added more interactivity to the log viewer - a user could see whether any error code has any search
            results by simply clicking or hovering over the error code. The search results and their content were available in the same window with another click. </p>
        <p>No more searching through thousands of lines of text, switching between application or juggling error codes.</p>
        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-old.png', 'resp', 'Examining a log file and finding further information is a very manual process')"/>
                        <figcaption>Examining a log file and finding further information was a very manual and tedious process in the old Web Access</figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-new-1.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-new-1.png', 'resp', 'Brand new and improved log viewer searches knowledge base and displays results on the same screen')"/>
                        <figcaption>Brand new and improved log viewer searches knowledge base on the fly</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-new-2.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-new-2.png', 'resp', 'Brand new and improved log viewer searches knowledge base and displays results on the same screen')"/>
                        <figcaption>Search results are displayed on the same screen</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-new-3.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-new-3.png', 'resp', 'Brand new and improved log viewer searches knowledge base and displays results on the same screen')"/>
                        <figcaption>Each search result can be further expanded on the same screen</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <p>
            Mission accomplished successfully. The new log viewer became one of the most loved features of Web Access.
        </p>

        <h3>Precise design documentation</h3>
        <p>I documented the design so that developers can recreate and populate layouts easily, ensuring consistent look throughout the application. </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-code-documentation.png" class="clickable" ng-click="showPhoto('assets/images/seagate-code-documentation.png', 'resp', 'HTML markup for creating page layouts based on Twitter Bootstrap.')"/>
                        <figcaption>HTML markup for creating page layouts</figcaption>
                    </figure>
                </div>
                <div class="col-sm-5">
                    <figure>
                        <img src="assets/images/seagate-code-documentation-2.png" class="clickable" ng-click="showPhoto('assets/images/seagate-code-documentation-2.png', 'resp', 'Page layout definition explained.')"/>
                        <figcaption>Page layout definition explained</figcaption>
                    </figure>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <figure>
                            <img src="assets/images/seagate-code-documentation-3.png" class="clickable" ng-click="showPhoto('assets/images/seagate-code-documentation-3.png', 'resp', 'Popup window layout explained.')"/>
                            <figcaption>Popup window layout explained</figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-5">
                        <figure>
                            <img src="assets/images/seagate-code-documentation-4.png" class="clickable" ng-click="showPhoto('assets/images/seagate-code-documentation-4.png', 'resp', 'HTML markup for creating popup windows based on Twitter Bootstrap.')"/>
                            <figcaption>HTML markup for creating popup windows</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <p>Similar documentation for use of typography, images, validation messages and other reusable web components was created. </p>

        <h3>Design Challenges</h3>

        <p>The biggest challenge I faced was balancing the expectations of different stakeholder groups . At every design iteration
            the feedback received from all involved parties would range from slightly contradictory to completely opposite.
        </p>
        <p>For example, many of the users preferred context driven menus because it would speed up navigation.
            The product owners insisted on static menus because it improves the application discoverability. </p>
        <p>The solution was often a compromise. In this case, I created static menus in which non-applicable items are disabled and pushed to the bottom and the relevant items are highlighted and at the top.</p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-menu-full.png" />
                        <figcaption>Static menu showing all menu items</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-menu-context.png" />
                        <figcaption>Context menu showing only applicable menu items</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-menu-current.png" />
                        <figcaption>A blend of context and static menu</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <h1>Validation</h1>

        <p>I try to do a small usability study upon every release. I ask users to run through newly created workflows and observe if and where they stumble.
            I encourage them to think aloud and explain how they make choices about what they do. I also ask for, receive and analyze feedback from customers and document findings.
        </p>
        <p>Ever since the initial launch, Seagate EVault Web Access has been greatly accepted by the users. Steep voluntary
            conversion rate allowed the company to retire many products ahead of schedule, with the last one scheduled to be
            retired by 2016. With that, Web Access is set to become Seagate's only web application for managing cloud backup processes. </p>


        <h1>Lessons Learned</h1>
        <h3>Users aren't as excited about my application as I am</h3>
        <p>As exciting as that popup transition may seem, users will likely trade it for accomplishing their tasks quicker in a heartbeat. In the eyes of the user,
            optimized workflows are infinitely more useful than pretty interfaces. With that in mind, 3 of 4 people choose the prettier interface, and the 4th one
            will likely choose it as well. But nobody goes for the ugly one on purpose.</p>

        <h3>Users don't know what they want</h3>
        <p>... but they know what they don't want.</p>

        <p>
            So eliminate what they know they don't want, but don't be afraid to offer something different from what they are used to.

        <h3>Context switching is expensive</h3>
        <p>Any time a user needs to switch focus from one task to another, and then come back to the first one, the user experience suffers as does the user's productivity. The same is applicable, when switching between applications. </p>

        <h1>The job is NOT done</h1>
        <p>
            Creating and maintaining good user experience is a continuous and evolving process. On a daily basis I make sure that
            the new features added fit well with the rest of the product, both in terms of UI and workflows.
        </p>
        <p>I continue to design major features, oversee their development, and gather and analyze feedback. </p>
        <p>Seagate EVault Web Access is being used by thousands of users daily who depend on it to manage the backups for hundreds of thousands of workstations and servers.
            The product is constantly growing and evolving, and while the
            experience the users have with Web Access allows it to stand with the best in the business, the job is far from done.</p>


        <hr>
        <a class="pull-left" href="#/portfolio">Back to portfolio</a>
    </div>
</div>