<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="header">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                        <img alt="LotteryPals.com" src="assets/images/lp-logo.png"/>
                    </div>
                </div>

                <h3>
                    A company on a journey to simplify playing the lottery in groups.
                </h3>
                <h5>
                    The OLG announced their own version of this application in 2013 and launched it in 2015. This validated the need for such a product, but at the same time it rendered this one obsolete. The code for LotteryPals.com never left the development servers.
                </h5>
            </div>
        </div>
    </div>

    <div class="body">
        <h1>The Service</h1>
        <p>The people behind LotteryPals.com created it to solve their own problem, and the problem of many - finding people to play the lottery in groups. </p>
        <p>LotteryPals.com would allow users to buy and track their lottery tickets online, and would simplify the process of creating, managing and joining player groups. </p>


        <h1>My Role</h1>
        <p>I led the design of the application from an idea to a functional product.</p>
        <p>I documented user requirements, laid out the information architecture and content strategy, created mockups, prototypes and wire frames, designed the graphics and interaction and participated in the actual implementation of the product.</p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/lp-full-page-paper-sketch.png" class="clickable" ng-click="showPhoto('assets/images/lp-full-page-paper-sketch.png', 'resp', 'UI sketch made during a very early stage of project.')"/>
                        <figcaption>UI sketch on paper</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/lp-full-page-wireframe.png" class="clickable" ng-click="showPhoto('assets/images/lp-full-page-wireframe.png', 'resp', 'Wireframe showing possible page layout.')"/>
                        <figcaption>Wireframing the UI</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/lp-full-page-web-view.png" class="clickable" ng-click="showPhoto('assets/images/lp-full-page-web-view.png', 'resp', 'Final mock up showing the same functionality as the early sketch.')"/>
                        <figcaption>Final mock up</figcaption>
                    </figure>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                <h3>User Research</h3>
                <p>I communicated with target users to identify pain points and created a list of features to address the same.</p>
            </div>
            <div class="col-sm-5 col-xs-12">
                <h3>Planning and Project Management</h3>
                <p>I created a project road map, from user profiling through architecture and design to implementation. I prioritized and balanced features based on user needs and business goals.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                <h3>Information Architecture, UX Design & Validation</h3>
                <p>I produced use case and workflow diagrams, prototyped, mocked up and wireframed the application, created graphics and collected and analyzed feedback.</p>
            </div>


            <div class="col-sm-5 col-xs-12">
                <h3>UI Implementation</h3>
                <p>I partially wrote the UI with mock data in HTML with CSS and JS, under ASP.NET MVC. I tested for responsiveness across multiple screen sizes and cross browser compatibility. </p>
            </div>

        </div>

        <h1>Discovery</h1>

        <p>The problem at hand had two major sides to consider - how lottery players are organizing themselves into groups and what was the legally correct way to do it. These two were not always the same.</p>

        <p>I learned that lottery players who manage groups that play together have the following pains:</p>
        <ul>
            <li>Collecting money</li>
            <li>Scanning tickets and distributing copies</li>
            <li>Skipping draws</li>
            <li>Distributing small winnings, free plays, etc</li>
        </ul>
        <p>The group members and the ones wanting to join a group had a different set of problems:</p>
        <ul>
            <li>Missing payments (due to time off work for example)</li>
            <li>Difficulty to opt out occasionally</li>
            <li>Finding groups to join</li>
        </ul>
        <p>In addition, the OLG imposes strict rules for playing in groups that a company would be required to follow.</p>
        <p>Finally, the company needed modern web presence how they would sign up new players. Here the goal is to explain the business model in simple terms while gaining the customer's trust. </p>

        <h1>Definition</h1>
        <p>This was a heavily data-driven application. User types with different privileges had to exist and the number of use cases per user type was staggering.
            To keep track of who does what, I had to create a User-Privilege matrix.
            The creation of site maps and workflow diagrams heavily depended on this matrix.
            </p>
        <p>The two major components would be the public website and the member's portal, which would then offer different functionality to the users according to the use case diagrams. </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/lp-sitemaps.png" class="clickable" ng-click="showPhoto('assets/images/lp-sitemaps.png', 'resp', 'Site maps for the public website and member portal.')" />
                        <figcaption>LotteryPals.com site maps</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/lp-workflow-1.png" class="clickable" ng-click="showPhoto('assets/images/lp-workflow-1.png', 'resp', 'Sample workflow diagram  - joining playgroups.')" />
                        <figcaption>Sample workflow - joining a playgroup</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/lp-workflow-2.png" class="clickable" ng-click="showPhoto('assets/images/lp-workflow-2.png', 'resp', 'Sample Workflow diagram  - depositing funds.')" />
                        <figcaption>
                            Sample workflow - depositing funds
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <h1>Design</h1>
        <p>Due to the nature of the application, it was imperative that users would be left with both a sense of security and playfulness from the very beginning. This project was happening right around the time when all
        lottery and gambling websites in the US were getting shut down, so creating a user experience that instills confidence was of utmost importance. </p>
        <blockquote>
            Gaining the trust of a customer is infinitely easier than gaining it back.
        </blockquote>

        <h3>Influencing feelings, changing perceptions</h3>
        <p>Research has shown that users perceive a well-built, precise and accurate UI as more secure. So the goal was to deliver exactly that - a professionally designed and built application with attention to detail paid to every pixel, every click, every bit of information on the screen. There could not be any room for doubt.</p>
        <p>For added sense of security, I went above and beyond to remove possibilities for mistakes from all workflows. Every user action was to be confirmed unless the user had opted out, and every action was to be reversible directly by the user.</p>
        <p>To achieve playfulness, use of vibrant, but not overwhelming colors and relevant graphics was made. </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/lp-full-page-public.png" class="clickable" ng-click="showPhoto('assets/images/lp-full-page-public.png', 'resp', 'Rendering of the public landing page.')" />
                        <figcaption>Public landing page</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <figure>
                        <img src="assets/images/lp-full-page-member.png" class="clickable" ng-click="showPhoto('assets/images/lp-full-page-member.png', 'resp', 'Rendering of the member dashboard.')" />
                        <figcaption>Member dashboard</figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <blockquote>
            "If you think good design is expensive, <br />
            you should look at the cost of bad design" <br />
            Dr. Ralf Speth, CEO of Jaguar
        </blockquote>


        <h3>Simplicity</h3>
        <p>The value proposition for target users was the alleviated pain that comes with playing the lottery in groups
            and the ability to buy tickets from the comfort of their homes. LotteryPals.com could not be the source any new pain.</p>
        <p>To improve the user experience for users of all technical skill levels and across a variety of devices, each workflow and each
            entry form was designed for simplicity and error prevention. Depending on the context, visual elements like sliders,
            calendar widgets and toggle switches were used to replace traditional data entry fields. Additionally, extensive field validation was created to allow for early error detection. </p>
        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <figure>
                        <img src="assets/images/lp-simple-form.png" class="clickable" ng-click="showPhoto('assets/images/lp-simple-form.png', 'resp', 'Simple search form using sliders to define range boundaries and prevent user error')" />
                        <figcaption>Search form</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <h3>Challenges</h3>
        <p>A major design challenge was maintaining balance between a UI that instills confidence and feeling of security (the norm being very rigid online banking applications) and one that is playful.</p>
        <p>To overcome, a simple color scheme utilizing contrasting colors was created and color was used to highlight web elements in a consistent manner, while keeping most of the content on a simple plain background. While also decorative, colors were used primarily with a function to make important application components more noticeable.</p>

        <h1>Lessons Learned</h1>
        <h3>Don't guess what the users want</h3>
        <p>... ask them!</p>
        <p>User interviews are invaluable tool. They provide validation to some ideas and completely shatter others. It is those users that will drive the business however, so when an idea is shattered, pick up the pieces and make it better. </p>
        <h3>Stop planning and start doing</h3>
        <p>No amount of pre-planning will yield a perfect solution the first time. Refining the product through iteration will happen no matter what, so the sooner it starts, the better. Get a good understanding of what is to be built, and start building it.</p>
        <h1>Reflection</h1>
        <p>As some of the best products out there, LotteryPals.com was created out of a real need to simplify a task that most people do. Even though
            the project got shut down before it ever launched, proper user centered design methodologies were used during the design
            what resulted in a web application that excelled at the tasks it set out to accomplish.
        </p>
        <p>It was a great journey and an awesome learning experience, one that has helped me many times since.</p>
        <hr>
        <a class="pull-left" href="#/portfolio">Back to portfolio</a>
    </div>
</div>