<div>
    <div class="header">
        <img alt="Seagate EVault Web Access" src="assets/images/seagate-logo.png"/>

        <h3>
            Easy-to-manage, automated data protection
        </h3>

    </div>

    <div class="body">
        <h1>The Product</h1>
        <p>In 2011 Seagate Technology make a big push for extending their cloud disaster recovery services. Their goal
            was to create a great value service that customers can use with minimal technical support. </p>
        <p>
            <em>Seagate EVault Web Access</em>, a web application for centralized management of backed up data on the cloud was created.</p>

        <h1>The Job</h1>
        <p>In the summer of 2012 I was hired as a full time web developer and a UX designer to lead and oversee the user experience of the application.</p>
        <p>My objective is to advocate for the users by utilizing user-centered design methodologies when designing new or improving existing features
            for the product. My daily tasks include creating, maintaining and enforcing UI standards and
            mentoring the rest of the team on usability principles and user experience.</p>
        <p>
            My personal goal is to have everyone on the team understand that the user experience is everyone's responsibility. </p>

        <hr/>

        <h1>Seagate EVault Web Access - UI Refactoring</h1>

        <h2> The Problem</h2>
        <p>
            The brand new EVault Web Access application was intended to replace a few other products. As a consequence,
            it had to do everything all the other applications did.</p>
        <p>The team originally tasked with writing it was mainly consisted of software engineers whose expertise was software architecture, not UI design.
            As a result, very little effort was put towards creating a user-centric application.
            The UI and workflows were copied with almost no modifications from close to a decade old products intended to be retired. Many workflows
            were redundant or overly complex, and the UI felt dated even before the application was even released.
        </p>
        <p>
            A first public release was 5 months away, and with the UI in the current shape, the product was facing a risk of being shut down.
        </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-login-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-login-old.png', 'resp', 'Pre-BETA login page.')"/>
                        <figcaption>Pre-BETA login page</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-computers-before.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computers-before.png', 'resp', 'Pre-BETA computers page.')"/>
                        <figcaption>Pre-BETA page showing information in a grid</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-computers-popup-before.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computers-popup-before.png', 'resp', 'Pre-BETA popup form.')"/>
                        <figcaption>Pre-BETA popup form</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <h2>My Role</h2>

        <p>
            My first task was driving the UI redesign and optimization of existing workflows.


            I did competitive and functional analysis of the application,
            outlined problematic workflows and prioritized their refactoring order based on severity. I redesigned the UI by creating high fidelity prototypes that I used to to convey my vision to the product stakeholders.
            I finally refactored the code.
        </p>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <h3>User Insights</h3>
                <p>I communicated with internal users to understand expectations and identify pressure points.</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h3>Competitive Analysis</h3>
                <p>I analyzed how similar tasks are performed in competing products and compared with Web Access. </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h3>Product Vision</h3>
                <p>I created interactive wireframes and prototypes to describe the product vision, usability principles and content strategy.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4 col-xs-12">
                <h3>Coordination</h3>
                <p>I worked with a team of developers and quality assurance analysts to make sure that the redesign has a minimal impact on ongoing development effort and product launch date isn't impacted.</p>
            </div>

            <div class="col-sm-4 col-xs-12">
                <h3>UI Design, Information Architecture & Validation</h3>
                <p>I identified and optimized sub-optimal workflows and designed more functional layouts, controls and validation. I collected and analyzed feedback from users. </p>
            </div>

            <div class="col-sm-4 col-xs-12">
                <h3>UI Implementation</h3>
                <p>I re-wrote the entire UI layer, created reusable HTML templates and refactored and normalized scripts and stylesheets.  </p>
            </div>
        </div>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-login.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-login.png', 'resp', 'Redesigned login form.')"/>
                        <figcaption>Redesigned login form</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-reporting.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-reporting.png', 'resp', 'Visual and interactive reporting as an alternative to tabular reports.')"/>
                        <figcaption>Visual and interactive reports</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-full-page-computers.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-computers.png', 'resp', 'Grids underwent a major face lift.')"/>
                        <figcaption>Page displaying data in a grid</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <!--    <h2>The Challenge</h2>
            <p>The company had an engineering culture. Most of the engineers were used to command line utilities, so any UI was
                good enough in their eyes and not too many saw a need for a change. </p>
            <p>However, in a highly competitive space such as cloud backup, being good enough just isn't enough. Competitive analysis showed that all comparable
                products on the market offer very similar functionality at similar prices. The only differentiator would be the user experience.
            </p>
            <p>The only way to stay competitive on the market was for the product had to evolve with the customers.</p>
            <blockquote>
                "To be competitive, you can't be good enough. Everybody is good enough. <br />
                You need to be great, and that's just the beginning."
            </blockquote>-->


        <h2>Discovery</h2>
        <p>I conducted user interviews with users who use the the products to be replaced, as well as competitor products. </p>
        <p>The most overwhelming response I got was that the users don't like to spend any more time using the application than
            they absolutely have to and that they don't want to be looking for information, but expect to find it in logical places. This
            suggested that workflow optimization and contextualization had to be my first priority. I had to eliminate all redundant clicks
            and show as much relevant information at once.
        </p>
        <p>When asked how much they cared about the attractiveness of the application, to my surprise, 3 in 4 people said
            they didn't very much and only 1 said that they'd prefer a more attractive application. </p>
        <p>So I did a visual exercise with the same users, showing them screen shots of 2 identical applications - the original Web Access
            application and my prototypes, which I considered visually superior. The numbers flipped - 3 in 4 people said that
            they prefer the prototype and only 1 was indifferent.
        </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-full-page-before.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-before.png', 'resp', 'Dashboard in 2012.')"/>
                        <figcaption>Web Access Dashboard (2012)</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <figure>
                        <img src="assets/images/seagate-full-page-after.png" class="clickable" ng-click="showPhoto('assets/images/seagate-full-page-after.png', 'resp', 'High fidelity dashboard mockup')"/>
                        <figcaption>High fidelity mock up of the same dashboard</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <p>It was clear that our users valued aesthetics even though they weren't specifically asking for it. But the aesthetics could not
            be getting in the way of the tasks the users were trying to achieve.
        </p>
        <p>When asked about things they would improve in competitor's products, a common suggestion was to create bulk actions and ability to
            automate tasks. This confirmed the findings from my competitive analysis. </p>

        <h2>Vision</h2>
        <p>My vision for Web Access was to be the best backup process management tool on the market, and not just another mediocre tool.
        </p>
        <p>The goal was not to offer an exhaustive amount of features that may or may not be useful, but offer features that the users will actually use, and create them in a way that the users will want to use them.</p>


        <h2>Design Process</h2>
        <p>
            To achieve the vision, I had to address the user's concerns before anything else. That meant simplifying the workflows by providing context and showing more relevant information.
        </p>

        <h3>Designing for Scalability</h3>
        <p>
            One problem with the existing UI was the disregard for screen real estate. As this application was only intended to run
            in a web browser on a desktop computer, preserving screen real estate was not taken into consideration. The low scalability of the UI
            became apparent even more as the application functionality grew. One screen just wasn't going to be enough.
        </p>
        <p>
            I designed scalable and reusable controls such as drop-down menus, date and time pickers and popup windows. I also created responsive layouts
            that would scale the UI for different devices. This way more of the screen could be used for information and less for action items.
        </p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-computer-actions-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computer-actions-old.png', 'resp', 'Actions on each row take up almost 40% of each row')"/>
                        <figcaption>Actions on each row take up almost 40% of each row</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-computer-actions.png" class="clickable" ng-click="showPhoto('assets/images/seagate-computer-actions.png', 'resp', 'Redesigned Actions Menu housing all actions takes up approximately 10% of each row')"/>
                        <figcaption>Redesigned 'Actions menu' housing all actions takes up approximately 10% of each row</figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <h3>Designing new features</h3>
        <p>One of the features that got copied over from the old products was the reporting mechanism. The reports consisted of large
            quantities of data just displayed to the user in a tabular format with little-to-no interactivity. Data could be sorted but not searched, and the data would start
            to losing meaning as the amount of data increased.
        </p>
        <p>Reporting was going to be one of the most frequently used sections of the application as users could directly link the reported data to their billing. </p>
        <p>In the user interviews I learned that the users would appreciate a way to filter and sort their data. They also mentioned that a graphical
            representation of the data may be useful if done right. </p>
        <p>I was debating between replacing the tabular data reporting with a graphical reporting and improving the tabular and adding graphical reporting. This was also a concern due to the approaching release date.</p>
        <p>I created low fidelity functional mockups to show the interactivity to the involved parties after what I was given a green light to proceed with the design - this was one feature everyone fell in love with.</p>



        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-report-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-report-old.png', 'resp', 'Old data reporting. Filtering not possible.')"/>
                        <figcaption>Old tabular reporting did not allow for data filtering</figcaption>
                    </figure>
                </div>
            </div>
            <div>
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-report-new.png" class="clickable" ng-click="showPhoto('assets/images/seagate-report-new.png', 'resp', 'Old data reporting. Filtering not possible.')"/>
                        <figcaption>New reporting grids with column filtering and sorting and tighter design</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <figure>
                        <img src="assets/images/seagate-report-interactive.png" class="clickable" ng-click="showPhoto('assets/images/seagate-report-interactive.png', 'resp', 'Interactive reporting charts - after a decade of tabular data reporting')"/>
                        <figcaption>The introduction of interactive reporting charts after almost a decade was greatly appreciated</figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <h3>Optimizing and improving workflows</h3>
        <p>A user described to me the steps they take when troubleshooting an error in their system. What caught my attention
            was how they go about viewing log files. The original log viewer in the application was essentially displaying a text file
            in a browser with no extra functionality. So the user had to go through the contents, find the error codes, copy them into Notepad,
            open the knowledge base website and search for information on the error code, often times not finding any results. Ideally never,
            but in the real world, a user would have to go through this painful process a few times every week.</p>
        <p>
            My goal was to make the log viewer the last place a user searches for information, and do it in a way that will require minimal effort.
        </p>
        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-old.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-old.png', 'resp', 'Examining a log file and finding further information is a very manual process')"/>
                        <figcaption>Examining a log file and finding further information was a very manual and tedious process in the old Web Access</figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-new-1.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-new-1.png', 'resp', 'Brand new and improved log viewer searches knowledge base and displays results on the same screen')"/>
                        <figcaption>Brand new and improved log viewer searches knowledge base on the fly</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-new-2.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-new-2.png', 'resp', 'Brand new and improved log viewer searches knowledge base and displays results on the same screen')"/>
                        <figcaption>Search results are displayed on the same screen</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-log-viewer-new-3.png" class="clickable" ng-click="showPhoto('assets/images/seagate-log-viewer-new-3.png', 'resp', 'Brand new and improved log viewer searches knowledge base and displays results on the same screen')"/>
                        <figcaption>Each search result can be further expanded on the same screen</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <p>
            The mission was accomplished. The new log viewer became one of the most loved features of Web Access.
        </p>



        <h3>Challenges</h3>

        <p>The biggest challenge I faced was balancing the expectations of different layers of stakeholders. At every design iteration
            the feedback received from all involved parties would range from slightly contradicting to completely opposite.
        </p>
        <p>For example, many of the users preferred context driven menus because it would speed up navigation,
            but the product owners preferred static menus because it improves the discoverability of the application. </p>
        <p>The solution was often a compromise, in this case, I created static menus in which non-applicable items are disabled and pushed to the bottom.</p>

        <div class="inline-image-holder clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-menu-full.png" />
                        <figcaption>Static menu showing all menu items</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-menu-context.png" />
                        <figcaption>Context menu showing only applicable menu items</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <img src="assets/images/seagate-menu-current.png" />
                        <figcaption>A blend of context and static menu</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <h1>Validation</h1>
        <p>Ever since the initial launch, Seagate EVault Web Access has been greatly accepted by the users. Steep conversion rate allowed the company to retire
        the old products Web Access was intended to replace ahead of schedule, with the last one to be retired by 2016, with what Web Access becomes Seagate's
        only web application for managing cloud backup processes, being used by thousands users on a daily basis. </p>

        <p>I hold user interviews after every release to get more insight into what the users need, what is causing them pain and what they love about the application.
        </p>

        <p>At the moment I am working on redesigning the workflows revolving around filling out complex forms to use wizard like navigation how the users can
        remain focused on the specific information they are providing without any distractions.</p>

        <h1>Lessons Learned</h1>
        <h3>Users aren't as excited about my application as I am</h3>
        <p>As exciting as that popup transition may seem, users will likely trade it for spending less time using the application in a heartbeat. In the eyes of the user,
            optimized workflows are infinitely more useful than pretty interfaces. With that in mind, 3 of 4 people choose the prettier interface, and the 4th one
            may or may not choose it. But nobody goes for the ugly one on purpose.</p>

        <h3>Users don't know what they want</h3>
        <p>... but they know what they don't want.</p>

        <p>
            So eliminate what they know they don't want, but don't be afraid to offer something different from what they are used to.
        <hr>
        <a class="pull-left" href="#/portfolio">Back to portfolio</a>
    </div>
</div>